<header>
  <div class="row">
    <ul>
      <li><a routerLink="howto">How-to</a></li>
      <li><a routerLink="examples">Examples</a></li>
    </ul>
  </div>
</header>

<div class="row">
  <div class="panel">
    <input type="text">
    <p id="subtxt">Hit enter to add</p>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6">
    <div class="panel nplr">
      <div class="item-container">
        <div class="identifier"></div>
        <p>Item here</p>
        <a>X</a>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 pages">
    <router-outlet></router-outlet>
  </div>
</div>